<section class="DaneOsobyCwiczacej">
    <h3>{{id}}. {{imie}} {{nazwisko}}</h3>
    <p>Wzrost: {{wzrost}}</p>
    <p>Waga: {{waga}}</p>
    <p>Wiek: {{wiek}}</p>
    <p>Płeć: {{plec}}</p>
    <div>Przeciwwskazania:
        <ul>
            <li *ngFor="let przeciwwskazanie of przeciwwskazania">
                {{przeciwwskazanie}}
            </li>
        </ul>
    </div>
    <p>Poziom treningowy: {{poziomTreningowy}}</p>
    <p>Cel: {{cel}}</p>
    <div>Wymiary ciala w cm:
        <ul>
            <li *ngFor="let wymiar of wymiaryCialaWCM;index as i" (click)="select(i)" [class.selected]="i === selected">
                {{wymiar}}
            </li>
        </ul>
    </div>
</section>

<section *ngIf="selected > -1">
    <h2>Edit:</h2>
    <div>
        <label>Wymiar:
            <input [(ngModel)]="wymiaryCialaWCM[selected]"/>
            <button (click)="save()">Save</button>
        </label>
    </div>
</section>