<!-- Ten kod chyba niepotrzebny-->
<section class="DaneOsobyCwiczacej">
    <h3>{{osobaCwiczaca.id}}. {{osobaCwiczaca.imie}} {{osobaCwiczaca.nazwisko}}</h3>
    <p>Wzrost: {{osobaCwiczaca.wzrost}}</p>
    <p>Waga: {{osobaCwiczaca.waga}}</p>
    <p>Wiek: {{osobaCwiczaca.wiek}}</p>
    <p>Płeć: {{osobaCwiczaca.plec}}</p>
    <div>Przeciwwskazania:
        <ul>
            <li *ngFor="let przeciwwskazanie of osobaCwiczaca.przeciwwskazania">
                {{przeciwwskazanie}}
            </li>
        </ul>
    </div>
    <p>Poziom treningowy: {{osobaCwiczaca.poziomTreningowy}}</p>
    <p>Cel: {{osobaCwiczaca.cel}}</p>
    <div>Wymiary ciala w cm:
        <ul>
            <li *ngFor="let wymiar of osobaCwiczaca.wymiaryCialaWCM;index as i" (click)="select(i)" [class.selected]="i === osobaCwiczaca.selected">
                {{wymiar}}
            </li>
        </ul>
    </div>
</section>

<section *ngIf="osobaCwiczaca.selected > -1">
    <h2>Edit:</h2>
    <div>
        <label>Wymiar:
            <input [(ngModel)]="osobaCwiczaca.wymiaryCialaWCM[osobaCwiczaca.selected]"/>
            <button (click)="save()">Save</button>
        </label>
    </div>
</section>